In [20]:
import pandas as pd
from collections import Counter

In [3]:
ls

BERT_first_time.ipynb              lenta.csv
hf_transformers_recap.ipynb        make_classification_dataset.ipynb

In [5]:
df = pd.read_csv('lenta.csv')

/Users/anthonyshevchuk/.pyenv/versions/3.7.0/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head()

,url,title,text,topic,tags,date
0,https://lenta.ru/news/1914/09/16/hungarnn/,1914. Русские войска вступили в пределы Венгрии,Бои у Сопоцкина и Друскеник закончились отступ...,Библиотека,Первая мировая,1914/09/16
1,https://lenta.ru/news/1914/09/16/lermontov/,1914. Празднование столетия М.Ю. Лермонтова от...,"Министерство народного просвещения, в виду про...",Библиотека,Первая мировая,1914/09/16
2,https://lenta.ru/news/1914/09/17/nesteroff/,1914. Das ist Nesteroff!,"Штабс-капитан П. Н. Нестеров на днях, увидев в...",Библиотека,Первая мировая,1914/09/17
3,https://lenta.ru/news/1914/09/17/bulldogn/,1914. Бульдог-гонец под Льежем,Фотограф-корреспондент Daily Mirror рассказыва...,Библиотека,Первая мировая,1914/09/17
4,https://lenta.ru/news/1914/09/18/zver/,1914. Под Люблином пойман швабский зверь,"Лица, приехавшие в Варшаву из Люблина, передаю...",Библиотека,Первая мировая,1914/09/18

In [9]:
df.topic.unique()

array(['Библиотека', 'Россия', 'Мир', 'Экономика', 'Интернет и СМИ',
       'Спорт', 'Культура', 'Из жизни', 'Силовые структуры',
       'Наука и техника', 'Бывший СССР', nan, 'Дом', 'Сочи', 'ЧМ-2014',
       'Путешествия', 'Ценности', 'Легпром', 'Бизнес', 'МедНовости',
       'Оружие', '69-я параллель', 'Культпросвет ', 'Крым'], dtype=object)

In [11]:
new_df = df[df['topic'].isin(['Экономика', 'Спорт', 'Культура'])]

In [12]:
new_df.shape

(197738, 6)

In [16]:
classificaton_df = new_df[["text", "topic"]]

In [17]:
classificaton_df.head()

                                                  text      topic
630  С 1 января 2000 года все телеканалы будут опла...  Экономика
635  Германский автопромышленный концерн Volkswagen...  Экономика
636  Нераспределенная прибыль ОАО "Тюменнефтегаз", ...  Экономика
660  Две крупнейших телекоммуникационных компании С...  Экономика
661  ОАО "ГАЗ" и Нижегородский банк Сбербанка Росси...  Экономика

In [19]:
classificaton_df.shape

(197738, 2)

In [25]:
classificaton_df = classificaton_df[:10000]

In [26]:
Counter(classificaton_df['topic'])

Counter({'Экономика': 4902, 'Спорт': 2170, 'Культура': 2928})

In [ ]:
classificaton_df.to_csv('lenta_10k_3_classes.csv')